# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
 - List Popular Languages for Data Science
 - List Popular Data Science Tools
 - Perform Arithmetic using Python

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Julia

| Data Science Tools |
|:--------:          |
|  Jupyter           |
|  Hadoop            | 
|  Spyder            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers.

17

In [7]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
minutes/60

3.3333333333333335

## Author
James